node_modules
/node_modules
/.vscode

/public/static
/public/hot
/public/plugins
/public/storage
/public/uploads
/public/upload_files
/public/libs
/public/vendor
/public/fonts
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

.idea
.idea/*
